.mainContainerConvidados {
  width: 50%;
  height: 50vh;
  background-color: blue;
  color: white;
}

.mainContainerFavoritos {
  width: 55%;
  height: 66vh;
  overflow-y: auto;
  color: black;

  &.transmissao {
    width: 55%;

    @media (max-width: 800px) {
      width: 100%;
      margin: 0 auto;
    }
  }

  @media (max-width: 800px) {
    width: 100%;
    margin: 0 auto;
  }
}

.mainContainerSugeridos {
  width: 33%;
  height: 50vh;
  background-color: green;
  color: white;

  @media (max-width: 800px) {
    padding-bottom: 200px;
  }
}

.productCard {
  width: 100%;
  height: 45vh;
  overflow-y: auto;
  color: black;
}

.cardsResponsive {
  @media (max-width: 800px) {
    // flex-direction: column !important;
    gap: 10px;
  }
}

.headerContainer {
  padding: 4%;
}

.line {
  width: 100%;
  height: 1px;
  left: 0;
  right: 0;
  background-color: $border-color;
  top: 10px;
}
.ticketContainer {
  display: flex;
  flex-direction: row;
  align-items: center;

  &:last-child {
    margin-bottom: 50px;
  }
}

.ticketCardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;

  height: 100%;
  background-color: $white;
  margin-right: 10px;
  margin-bottom: 10px;

  @media (max-width: 800px) {
    width: 235px;

    margin: 0 auto;
  }
}

.cursor-pointer {
  cursor: pointer;
}
.charDescription {
  display: flex;
  flex-direction: column;
}
.charPic {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}
.charPicFavoritePage {
  height: 45px;
  width: 45px;
  border-radius: 50%;
}
.locationIcon {
  color: rgb(102, 98, 98);
  margin-right: 6px;
}
.productCardImage {
  width: 100%;
  height: 100%;
}
.productDescription {
  width: 100%;

  display: flex;
  flex-direction: column;
}
.productPic {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}
.margin-top-80 {
  margin-top: 80px;
}
