.hoverLightGray:hover{
   background-color: rgb(250, 246, 246);
   border-radius: 4px;
}

.hoverColorGray:hover{
    color: rgb(94, 92, 92);
}

.title{
    font-size: larger;
    font-weight: bold;
    text-decoration: underline;
    align-self: center;
}
