.constructionFirstLine {
  display: flex;
  flex-direction: row;
}

.constructionTextContainer {
  padding-top: 1%;
  padding-left: 1%;
  padding-right: 1%;
}

.constructionTitle {
  font-weight: bold;
}
