#receivedmessage a {
  color: #7269ef;
}

.right #receivedmessage a {
  color: #7269ef;
}
.right #receivedmessage div a {
  color: #7269ef;
}

#more-msg {
  color: #7269ef;
}

.right #more-msg {
  color: #7269ef;
}
