// 
// alert-size.scss
//


/* .swal-small-popup {
    height: 25vh;
    font-size: 13px;
}

.swal-mini-popup {
    height: 25vh;
    font-size: 9px;
}

.swal-mini-popup-file-size {
    height: 27vh;
    font-size: 11px;
}

.swal-small-popup-pill-text {
    height: 25vh;
    font-size: 10px;
}

.swal-medium-popup {
    height: 32vh;
    font-size: 14px;
}

.swal-medium-popup-pill-text {
    height: 32vh;
    font-size: 14px;
}

.swal-big-popup {
    height: 36vh;
    font-size: 14px;
}

.swal-big-popup-pill-text {
    height: 36vh;
    font-size: 12px;
}
 */